.App{
    padding: 50px 150px 50px 150px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(205, 226, 233, 0.288);
}

.filter-container{
    height: 250px;
    background-image: url('https://media.giphy.com/media/35nU79vBbeOm4/giphy.gif');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;

    &__item{
        position: relative;
        top: 35%;
        padding: 20px;
        
        &--searcher{

            .nameinput{
                width: 40%;
                padding: 5px;
                margin-bottom: 15px;
                border: 1px solid grey;
            }

            .button{
                background-color: lightblue;
                border: lightblue solid 1px;
                margin-left: 15px;
                padding: 5px;
            }
        }

        &--preview{
            color: lightblue;
            width:50%;
        }
    }
}

.highlight{
    color: lightblue;
    font-weight: 700;
    font-size: 16px;
}

.character-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;

    &__item{
        margin: 16px 16px;
        border: grey solid 2px;

        :hover{
            background-color: rgb(93, 116, 124);
        }

        .character{
            padding: 10px;
            max-width: 150px;
            height: 300px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &__subtitle {
                color: lightgrey;
            }

            &__title {
                color: lightblue;
                width: 90%;
                font-size: 20px;
            }

            &__picture {
                width: 100%;
                position: relative;
            }
        }
    }
}