.App{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(141deg, rgba(16,16,56,1) 0%, rgba(35,45,152,1) 100%);
    color:#43c32f;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    font-size: 12px;

    
    @include forTablet {
        flex-direction: row; 
    }

}

.hidden{
    display:none;
}

.preview{
    width:80%;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid green;
    border-radius: 20px;
}

.highlight{
    color: lightblue;
    font-weight: 700;
    font-size: 16px;
}


.filter-container{
    flex-grow: 1;
    // border: 2px solid #43c32f;
    border-radius: 10px;
    // background-image: url('https://media.giphy.com/media/35nU79vBbeOm4/giphy.gif');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 30px;
    background: transparent;
    box-shadow: 5px 10px 10px 10px #0e062b;
    
    

    &__item{
        top: 35%;
        padding: 20px;

        .filterbutton{
            border: 1px solid #43c32f;
            color: #43c32f;
            background-color: transparent;
            padding: 7px;
            font-size: 12px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        
        &--searcher{
            background-color: transparent;
            margin-bottom: 10px;

            .nameinput{
                width: 70%;
                padding: 4px;
                margin-right: 10px;
                border-radius: 10px;
                border: 1px solid grey;
                font-size: 12px;
            }

            .inputbutton{
                background-color: transparent;
                padding: 7px;
                font-size: 10px;
                border-radius: 10px;
                border: 1px solid #43c32f;
                padding: 5px;
                color: #43c32f;
            }
        }

        &--filters{
            font-size: 12px;
            
            .label-2{
                margin-right: 10px;
            }

            .checkinput{
                vertical-align: middle;
                border: 1px grey solid;
            }
        }
    }
}

.character-list-container{
    flex-grow: 6;
    margin-top: 20px;
    box-shadow: 5px 10px 10px 10px #0e062b;

    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%; 
    // grid-template-rows: 25% 25% 25% 25%;
    align-content: stretch;

    @include forTablet {
        grid-template-columns: 33% 33% 33%;
    }

    @include forPc {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }


    &__item{
        margin: 20px;
        height: fit-content;
        box-shadow: 5px 5px 5px 5px #0e062b;
        border-radius: 10px;
    }

        :hover .character__text{
            background-color: rgb(93, 116, 124);
            transform: translateY(0%);
        }

        :hover .character__picture{
            transform: scale(1.15);
        }


         .character{
            position: relative;
            overflow: hidden;

            &__picture {
                width: 100%;
                transition: all 0.5s;
                border-radius: 10px;
            }

            &__text{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 20px;
                background-color: rgba(0,0,0,0.5);
                color: white;

                transform: translateY(100%);
                transition: all 0.5s ease-out;
            }


    //         padding: 10px;
    //         max-width: 150px;
    //         height: 300px;
    //         overflow: hidden;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-evenly;

    //         &__subtitle {
    //             color: lightgrey;
    //         }

    //         &__title {
    //             color: lightblue;
    //             width: 90%;
    //             font-size: 20px;
    //         }

        }
    // }
}