.not-found{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__text{
        color: white;
        margin-right: 40px;

        .nf-title{
        font-weight: 700;
        font-size: 130px;
        margin-bottom: 20px;
        }

        .nf-text{
            font-weight: 700;
            font-size: 30px;
            text-transform: capitalize;
        }

        .nf-button{
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: middle;
            text-transform: uppercase;
            font-size: 10px;
            color: $lightcolor;
            font-weight: 700;
            letter-spacing: 1px;
            font-style: unset;
            padding: 10px 20px 10px 20px;
            border-color: $mediumcolor;
            background-color: #96cee856;
            border-radius: 18px;
            box-shadow: 2px 2px 15px 2px $darkcolor;
        }


    }
}